.input {
    display:block;
    width: 20rem;
    height: 3rem;

    margin-top: 1rem;

    box-sizing: border-box;
    padding-left: 1rem;

    background-color: transparent;
    border: 1px solid #333;
    border-radius: 0.5rem;

    font-size: 1rem;
    color: #000000;

    outline-color: #333;

    transition: all 0.6s ease;
}