.button {
    display:block;
    width: 10rem;
    height: 3rem;

    margin-top: 1rem;

    background-color: #800080;
    border: 1px solid #800080;
    border-radius: 0.5rem;

    font-size: 1rem;
    color: white;

    transition: all 0.6s ease;
}

.button:hover {
    background-color: #ac00ac;
    border: 1px solid #ac00ac;
}

.button:focus {
    background-color: #ac00ac;
    border: 1px solid #ac00ac;

    outline-color: #ac00ac;
}

.button:active {
    background-color: #4e004e;
    border: 1px solid #4e004e;
}